<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
      <% include css-assets.ejs%>
  </head>
  <body>
      <% include navigation.ejs%>
      <main></main>

      <% include js-assets.ejs%>
  </body>
</html>
