<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Luis Felipe Jimenez Ferreira</title>
    <% include css-assets.ejs%>
</head>

<body>
    <header>
    <% include navigation.ejs%>
  </header>
      <main>
        <div class="container">
            <div class="row">
                <h1 class="text-xs-center">Luis Felipe Jimenez Ferreira</h1>
                <div class="col-lg-4">
                    <img src="/images/profile.jpg" id="profile-image" height="50%" class="mx-auto d-block img-thumbnail rounded" alt="Profile Picture">
                    <hr>
                    <p class="text-xs-center text-muted">Web Developer</p>
                    <p class="text-xs-center text-muted">@Silicon Valley</p>
                    <p class="text-xs-center text-muted"><a href="mailto:xLuis190@hotmail.com">xLuis190@hotmail.com</a></p>
                    <p class="text-xs-center text-muted"><a target="_blank" href="http://xluis190.github.io/PersonalWebsite/">Website</a></p>
                </div>
                <div class="col-lg-8">

                    <div class="col-lg-4">
                        <div class="card card-block">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-block">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-block">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="col-lg-4">
                        <div class="card card-block">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-block">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-block">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="col-lg-4">
                        <div class="card card-block">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-block">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-block">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>

<% include js-assets.ejs%>
</body>

</html>
